table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .card-body {
    justify-content: center;
  }
  .h1 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .button {
    transition-duration: 0.3s;
  }
    .button:hover{
      background-color: gray;
      color: white;
  }
