table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }  
  
  
  .h1 {
    justify-content: center;
    display: flex;
  }
  .button {
    transition-duration: 0.3s;
    border-radius: 10px;
    margin-left: 15px;
    
  }
    .button:hover{
      background-color: gray;
      color: white;
  }
  .select {
    border-radius: 10px;
  }
  .busca{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .select-curso{
    margin-right: 10px;
    border-radius: 10px;
  }
